<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GDStashViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<userSettings>
		<GDStashViewer.Properties.Settings>
   <setting name="ExportFormat" serializeAs="String">
    <value>{0} - ({2}) {4}</value>
   </setting>
   <setting name="FileHistory" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>&lt;none&gt;</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="ListCfgFile" serializeAs="String">
    <value />
   </setting>
   <setting name="ColumnLayout" serializeAs="String">
    <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfColumnInformation xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;Link&lt;/Header&gt;
    &lt;PropertyPath&gt;Url&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;0&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;40&lt;/WidthValue&gt;
    &lt;WidthType&gt;Pixel&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;Url&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;true&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;Name&lt;/Header&gt;
    &lt;PropertyPath&gt;Name&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;1&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;192&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;Name&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;true&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;Class&lt;/Header&gt;
    &lt;PropertyPath&gt;Class&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;2&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;70&lt;/WidthValue&gt;
    &lt;WidthType&gt;Pixel&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;Class&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;true&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;SubCategory&lt;/Header&gt;
    &lt;PropertyPath&gt;SubCategory&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;3&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;70&lt;/WidthValue&gt;
    &lt;WidthType&gt;Pixel&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;SubCategory&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;true&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;Category&lt;/Header&gt;
    &lt;PropertyPath&gt;Category&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;4&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;70&lt;/WidthValue&gt;
    &lt;WidthType&gt;Pixel&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;Category&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;true&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;LevelRequirement&lt;/Header&gt;
    &lt;PropertyPath&gt;LevelRequirement&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;5&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;70&lt;/WidthValue&gt;
    &lt;WidthType&gt;Pixel&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;LevelRequirement&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;true&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;IsEmpowered&lt;/Header&gt;
    &lt;PropertyPath&gt;IsEmpowered&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;6&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;48&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;IsEmpowered&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;true&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;Bag&lt;/Header&gt;
    &lt;PropertyPath&gt;Bag&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;7&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;68&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;Bag&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;true&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;StashFile&lt;/Header&gt;
    &lt;PropertyPath&gt;StashFile&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;27&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;342&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;StashFile&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;true&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;FriendlyName&lt;/Header&gt;
    &lt;PropertyPath&gt;FriendlyName&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;8&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;126&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;FriendlyName&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;true&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;DbrFileName&lt;/Header&gt;
    &lt;PropertyPath&gt;DbrFileName&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;9&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;126&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;DbrFileName&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;true&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;Tag&lt;/Header&gt;
    &lt;PropertyPath&gt;Tag&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;10&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;156&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;Tag&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;true&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;baseName&lt;/Header&gt;
    &lt;PropertyPath&gt;baseName&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;11&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;baseName&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;stackCount&lt;/Header&gt;
    &lt;PropertyPath&gt;stackCount&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;12&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;stackCount&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;prefixName&lt;/Header&gt;
    &lt;PropertyPath&gt;prefixName&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;13&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;prefixName&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;suffixName&lt;/Header&gt;
    &lt;PropertyPath&gt;suffixName&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;14&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;suffixName&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;modifierName&lt;/Header&gt;
    &lt;PropertyPath&gt;modifierName&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;15&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;modifierName&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;transmuteName&lt;/Header&gt;
    &lt;PropertyPath&gt;transmuteName&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;16&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;transmuteName&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;seed&lt;/Header&gt;
    &lt;PropertyPath&gt;seed&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;17&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;seed&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;relicName&lt;/Header&gt;
    &lt;PropertyPath&gt;relicName&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;18&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;relicName&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;relicBonus&lt;/Header&gt;
    &lt;PropertyPath&gt;relicBonus&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;19&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;relicBonus&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;relicSeed&lt;/Header&gt;
    &lt;PropertyPath&gt;relicSeed&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;20&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;relicSeed&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;augmentName&lt;/Header&gt;
    &lt;PropertyPath&gt;augmentName&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;21&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;augmentName&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;unknown&lt;/Header&gt;
    &lt;PropertyPath&gt;unknown&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;22&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;unknown&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;augmentSeed&lt;/Header&gt;
    &lt;PropertyPath&gt;augmentSeed&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;23&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;augmentSeed&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;var1&lt;/Header&gt;
    &lt;PropertyPath&gt;var1&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;24&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;var1&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;xOffset&lt;/Header&gt;
    &lt;PropertyPath&gt;xOffset&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;25&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;xOffset&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;yOffset&lt;/Header&gt;
    &lt;PropertyPath&gt;yOffset&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;26&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;20&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;yOffset&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;EmpoweredName&lt;/Header&gt;
    &lt;PropertyPath&gt;EmpoweredName&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;28&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;238&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;EmpoweredName&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;Count&lt;/Header&gt;
    &lt;PropertyPath&gt;Count&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;29&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;80&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;Count&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;false&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
  &lt;ColumnInformation&gt;
    &lt;Header xsi:type="xsd:string"&gt;Url&lt;/Header&gt;
    &lt;PropertyPath&gt;Url&lt;/PropertyPath&gt;
    &lt;SortDirection xsi:nil="true" /&gt;
    &lt;DisplayIndex&gt;30&lt;/DisplayIndex&gt;
    &lt;WidthValue&gt;537&lt;/WidthValue&gt;
    &lt;WidthType&gt;Auto&lt;/WidthType&gt;
    &lt;SortMemberPath&gt;Url&lt;/SortMemberPath&gt;
    &lt;IsVisible&gt;true&lt;/IsVisible&gt;
  &lt;/ColumnInformation&gt;
&lt;/ArrayOfColumnInformation&gt;</value>
   </setting>
   <setting name="UpgradeRequired" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ExportGroupFormat" serializeAs="String">
    <value>{0} ({1})</value>
   </setting>
   <setting name="ExportHeaderFormat" serializeAs="String">
    <value />
   </setting>
   <setting name="ExportFooterFormat" serializeAs="String">
    <value />
   </setting>
   <setting name="ExportUseIndent" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ExportShouldIgnoreGrouping" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ExportShouldIgnoreDuplicates" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ExportGroupFooterFormat" serializeAs="String">
    <value />
   </setting>
   <setting name="ExportShouldUseUrl" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ExtractedRootFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="ExportShouldIgnoreDontExport" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShouldResolveAffixes" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseAlternateAffixFormat" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ResourceFolder" serializeAs="String">
    <value />
   </setting>
  </GDStashViewer.Properties.Settings>
	</userSettings>
</configuration>